{%  extends "layouts/base.html" %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ad provident a corporis obcaecati dolorem dolores qui voluptate quod quae at rerum aut id voluptatum sed totam excepturi incidunt inventore vero magnam est, ea placeat omnis nesciunt. Sint similique maxime, sit at mollitia incidunt aliquid repudiandae, velit commodi laboriosam error vel asperiores hic voluptates autem animi neque fugit voluptatem veniam rem provident ducimus. Sunt soluta iusto corporis, reprehenderit accusantium sequi alias obcaecati. Doloremque ad eos ex earum molestiae odit doloribus esse nostrum reprehenderit tenetur reiciendis ratione ab nemo aut, rerum voluptas, nam sint, corporis recusandae eligendi vel explicabo? Quo, dolor!</p>

<p>Website create by {{username}}</p>

{% endblock %}